/* ==========================================================================
   1. GLOBALER RESET (Die wichtigste Basis für jedes Webprojekt)
   ========================================================================== */

/* Das Sternchen gilt für ALLE HTML-Elemente auf der gesamten Webseite.
   Es sorgt dafür, dass alle Browser bei Null starten und nichts willkürlich verschieben. */
*, *::before, *::after {
  /* Margin ist der Außenabstand. Wir setzen ihn auf 0, damit keine ungewollten Lücken entstehen. */
  margin: 0;
  
  /* Padding ist der Innenabstand. Auch den setzen wir auf 0, um die volle Kontrolle zu haben. */
  padding: 0;
  
  /* Extrem wichtig! Box-sizing sorgt dafür, dass Padding und Rahmen (Border) 
     IN die Breite hineingerechnet werden und das Element nicht heimlich größer machen. */
  box-sizing: border-box;
}


/* ==========================================================================
   2. BODY (Die Grundeinstellungen für die gesamte sichtbare Seite)
   ========================================================================== */

body {
   /*hier wird display flex angewendet um nachher im main content flex-grow 1; umsetzen zu können (für Fotter an den boden kleben*/
   display: flex;
   /* column wird gebraucht damit alles untereinander angeordnet wird */
   flex-direction: column;
  /* Hier legen wir die Schriftart für das gesamte Projekt fest. */
  font-family: sans-serif;
  
  /* Die Hintergrundfarbe der Webseite*/
  background-color: #06171E;
  
  /* Die Standard-Textfarbe */
  color: #dbd5d5;
  
  /* Der Zeilenabstand für Texte, damit alles schön luftig und lesbar wirkt. */
  line-height: 1.5;
  
  /* Sorgt dafür, dass die Seite MINDESTENS so hoch ist wie der gesamte Bildschirm (100 Viewport-Height). */
  min-height: 100vh;
}



/* ==========================================================================
   3. BILDER-BASIS (Damit deine Galerie-Bilder das Layout nicht sprengen)
   ========================================================================== */

img {
  /* Bilder verhalten sich standardmäßig wie Text. Mit "block" machen wir sie zu einem eigenständigen Kasten. */
  display: block;
  
  /* Das Bild darf NIEMALS breiter werden als der Container, in dem es drinsteckt (z.B. sein Raster-Kästchen). */
  max-width: 100%;
  
  /* Die Höhe berechnet sich automatisch passend zur Breite, damit das Bild nicht verzerrt oder gestreckt wird. */
  height: auto;
}

header {
    /* Sorgt für die gewünschte Horizontale Ausrichtung so werden Blöcke nebeneinander angesetzt*/
    display: flex;
    /* Sorgt für abstand zwischen den Boxen */
    justify-content:space-between;
    
    /* Breite 100% und maximal 1440px */
    width: 100%;
    max-width: 1920px;
    /* Zentriert den Header auf Bildschirmen, die breiter als 1920px sind*/
    margin: 0 auto;
    /*Hintergrundfarbe*/
    background-color: #09212A;
    /* Innenabstand der Objekte (Oben,Rechts,Unten,Links) */
    padding: 20px 140px 20px 140px;
}
.Fotogram_logo{

    min-width: 120px;
  
  
}
main{
    
   /* um den main content ind die länge zu ziehen und damit den footer immer ganz unten zu haben */
    flex-grow: 1;
    /* Breite 100% und maximal 1440px */
    width: 100%;
    max-width: 1440px;
     /* Margin ist der Außenabstand. Wir setzen ihn auf 0, damit keine ungewollten Lücken entstehen. */
    margin: 0 auto;
}
.main_title{
   text-align: center;
   padding: 20px;
   
}

#galleri{
   display: flex;
   /* durch flex-wrap wrap wird den bildern erlaub in die nächste zeile zu springen*/
   flex-wrap: wrap;
   justify-content: center;
   gap:16px;
   padding: 15px;
}
#galleri img {
   /* flex: 1 0 200px ist eine kurzbeschreibung für drei befehele 
   1: flex grow= (1)gibt an, ob das Bild ungenutzten platz füllen darf.
   2: flex-shrink (0) gibtn an, ob das bild schrumpfen darf bei null schrumpft es nicht unter 200px
   3: flex-basis (200px) blockiert die bilder auf die 200px wenn der platz kleiner wird springt das bild in die nächste reihe*/

  flex: 1 0 200px;        
  
  /* Verhindert, dass die Bilder verzerrt werden */
  height: 200px; 
  width: 200px;         
  object-fit: cover; 
  /* durch trasform wird das bild in einer vorgegeben geschwindigkeit vergrößert und in den uhrsprungszustand gebracht
  würde trasform direkt im hover effekt stehen würde es nur beim vergrößern funktionieren und beim weg gehen direkt schrumpfen*/
  
  border-radius: 12px;
  transition: transform 0.3s ease;
}
#galleri img:hover{
   
   /*vergrßert das bild beim hovern um angegeben wert*/

   transform: scale(1.1);
}

/*======================================== Style Dialog ==================================*/
.image_overlay{
   /* Ducrh *, *::before, *::after { margin 0} wird auch der Margin des Dialogs angesprochen und verändert deswegen geben wir hier das normal Margin fürs Display wieder her 
   damit er wieder in der Mitte geöffnet wird. */
   margin:auto;
   border-radius: 4%;
   background-color: #06171E;
   border: none;

}
/*
- Beim geschlossenen Dialog (opacity: 0) ist das Backdrop komplett unsichtbar.
  - Sobald JS die Klasse '.opened' hinzufügt (opacity: 1), blendet der Browser 
    das Backdrop über die Dauer der 'transition' (0.8s) weich ein. */
Dialog::backdrop{
   opacity: 0;
   background-color:#41555e80;
   transition: all 0.8s ease-in;
   
}
Dialog.opened::backdrop{
   opacity: 1;
   background-color:#41555e80;
   transition: all 0.8s  ease-in;
}
.overlay_box{
   display: flex;
   flex-direction: column;
   max-width: 75vh;
   
}
/*==================================== Dialog Header = overlay_header ====================================*/
.overlay_header{
   max-height: 80px;
   min-height: 20px;

}

.overlay_header button {
   display: flex;
   justify-content: center;
   align-items: end;
   background-color:#09212A;
   border: none;
   position: absolute;
   top: 16px;
   right: 16px;
   
}

/*==================================== Dialog Main = overlay_main ====================================*/
.overlay_main{
   background-color: #06171E;
   
}
.overlay_main img {
   object-fit: contain;
   width: 100%;
   padding:40px;
   
}
/*==================================== Dialog Footer = overlay_footer ====================================*/

.overlay_footer{
   max-height: 80px;
   
}


/*====================================  Style Footer ====================================*/
footer {
    /* Sorgt für die gewünschte Horizontale Ausrichtung so werden Blöcke nebeneinander angesetzt*/
    display: flex;
    /* Sorgt für eine Horizontale zentrierung (von links nach rechts) */
    justify-content: center;
    /* sorgt für eine Vertikale zentrierung (von oben nach unten)*/
    align-items: center;
    /* Breite 100% und maximal 1920px */
    width: 100%;
    max-width: 1920px;
    /* Höhe des Footers*/
    height: 128px;
    /* Zentriert den Footer auf Bildschirmen, die breiter als 1920px sind*/
    margin: 0 auto;
    background-color: #09212A;
}


